h1 {
  background-color: #6a796e;
  color: WHITE;
  line-height: 40px;
  text-align: left;

  font-size: 15px;
  margin: auto;
  margin-top: 20px;
}

h2 {
  background-color: #6a796e;
  color: WHITE;
  line-height: 40px;
  text-align: left;

  font-size: 15px;
  margin: auto;
  margin-top: 40px;
}
